.td1{
    padding-bottom: 90px;
}
.p1{
    color:rgb(18, 128, 225)
    font-size: 14px;
}
.p2{
    opacity: 0.8;
    font-size: 14px;
}
.cine {
    color: rgb(137, 178, 213);
}
.time {
    opacity: 0.5;
}